# Dylan's aliases and functions

# Aliases {{{

# Remove orphaned package dependencies
alias cleandeps='sudo pacman -Rns $(pacman -Qtdq)'

# Download youtube url to an .mp3
# and save it to my music folder.
alias mp3dl="cd $HOME/Music && youtube-dl --extract-audio --audio-format mp3 --no-playlist"

# Creates a playlist from an ls of my Music Folder
alias lsnc="ls -A --color=none"
alias plu="lsnc $HOME/Music > $HOME/.mpd/playlists/music.m3u"

# pwd
alias pwd.sh="cd $HOME/pwd.sh && ./pwd.sh"

# Makes ls list all files and always use color
alias ls="ls -A --color=always --group-directories-first"

# Save all screenshots to ~/Pictures/scrots
alias scrot="cd $HOME/Pictures/scrots/ && scrot"

# Launch steam with options that allow sound/mic to work without
# Pulse audio.
alias steam="LD_PRELOAD=/usr/lib/libasound.so.2 STEAM_RUNTIME=1 SDL_AUDIODRIVER=alsa steam"

# Always open urxvt clients
alias urxvt="urxvtc"

# backup files on poweroff
alias poweroff="backup.sh; sudo systemctl poweroff"

# Reboot as user
alias reboot="sudo systemctl reboot"

# Launch sxiv without the bottom bar
alias sxiv="sxiv -b"

# Gen neovim scheme
# This line doesn't work inside of gencol.sh for some reason
alias nvimgen="erb -T - ~/dotfiles/colorschemes/ryuuko/ryuuko.erb > ~/dotfiles/colorschemes/ryuuko/colors/ryuuko.vim"

# Habits
alias firefox="iceweasel"

# Record screen
alias record="ffmpeg -f x11grab -s 1920x1080 -framerate 60 -an -i :0.0 -c:v libvpx -b:v 5M -crf 10 -quality realtime -y -loglevel quiet"

# Run fetch.sh in a loop
alias fetchloop="while :; do fetch.sh; mpc idle player update > /dev/null 2>&1; done"

# }}}

