vim/.config/nvim/autoload/*
vim/.config/nvim/plugged/*
vim/.config/nvim/tmp/*
vim/.config/nvim/.*
vim/.config/nvim/Ditto/*
vim/.config/nvim/spell/*
vim/.vim/autoload/*
vim/.vim/plugged/*
vim/.vim/tmp/*
vim/.vim/.*
vim/.vim/Ditto/*
vim/.vim/spell/*
i3/.config/i3/config
mpv/.config/mpv/scripts/*
mpv/.config/mpv/shaders/*
