! Dylans Xresources
URxvt*font: xft:lemon:pixelsize=10
URxvt*boldFont: xft:lemon:pixelsize=10

URxvt*geometry: 90x24
xterm*termName: xterm-256color

URxvt.scrollBar: false
URxvt*loginShell: true
URxvt.internalBorder: 6

! Enables copy/paste
URxvt.iso14755: False
URxvt.perl-ext-common: clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! Disable these keybindings
URxvt.keysym.C-z: \
URxvt.keysym.C-h: \
URxvt.keysym.C-f: \

Xcursor.size: 16

! Dyl Colors {{{

! special
*.foreground:   #f2f3f2
*.background:   #2d2b33
*.cursorColor:  #f2f3f2

! black
*.color0:       #2d2b33
*.color8:       #75747a

! red
*.color1:       #c86c75
*.color9:       #c86c75

! green
*.color2:       #9BB38F
*.color10:      #9BB38F

! yellow
*.color3:       #e5c196
*.color11:      #e5c196

! blue
*.color4:       #8294b4
*.color12:      #8294b4

! magenta
*.color5:       #e8907e
*.color13:      #e8907e

! cyan
*.color6:       #a9cdd9
*.color14:      #a9cdd9

! white
*.color7:       #f2f3f2
*.color15:      #f2f3f2

! }}}

