! DPI/Font
Xft.dpi: 192
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Rofi
rofi.font: Roboto 60
rofi.separator-style: none
rofi.scrollbar-width: 0
rofi.lines: 2
rofi.padding: 400
rofi.width: 100%
rofi.bw: 400
