! Dylans Xresources
*font: xft:Roboto Mono:size=12
URxvt.internalBorder: 75
URxvt.geometry: 55x15
URxvt.scrollBar: false
URxvt*buffered: false

! DPI/Font
Xft.dpi: 192
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Rofi
rofi.font: Roboto 25
rofi.separator-style: none
rofi.scrollbar-width: 0
rofi.location: 1
rofi.yoffset: 120
rofi.xoffset: 120
rofi.padding: 40
rofi.lines: 5
rofi.width: 20
rofi.bw: 0

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
