! Dylans Xresources
*font: xft:Roboto Mono:size=15
XTerm.vt100.faceName: xft:Roboto Mono:size=15
URxvt.internalBorder: 125
URxvt.scrollBar: false
URxvt.geometry: 55x15
URxvt.saveLines: 0
URxvt.scrollWithBuffer: false
URxvt*skipScroll: true

URxvt.perl-ext:
URxvt.perl-ext-common:

! DPI/Font
Xft.dpi: 192
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Rofi
rofi.font: Roboto 60
rofi.separator-style: none
rofi.scrollbar-width: 0
rofi.lines: 2
rofi.padding: 400
rofi.width: 100%
rofi.bw: 400
