/* Startpage  Css */
/* By Dylan Araps */

/* Import colors */
@import url("file:///home/dyl/dotfiles/colors/output/colors.css");

html,
body,
h1,
ul,
li {
	margin: 0;
	padding: 0;
}

body {
	background: var(--white);
	height: 100vh;
	width: 100vw;
}

main {
	display: block;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-40%,-90%);
}

/* Change the vertical center offset
at browser heights of 700 px and below */
@media only screen and (max-height: 700px) {
    main {
        transform: translate(-50%,-60%);
    }
}

h1 {
	color: var(--blue);
	font-family: Roboto;
	font-size: 3em;
}

ul {
	display: block;
	margin: 0 auto;
}

li {
	display: inline-block;
	font-family: Roboto;
	font-size: 1em;
	line-height: 1.5;
	list-style: none;
	margin: 0 5px;
}

.subh {
	color: var(--red);
	font-weight: bold;
	margin-top: 5px;
}

a {
	color: var(--gray);
	text-decoration: none;
	transition: .2s;
}

a:hover {
	color: var(--blue);
}
