/* Startpage  Css */
/* By Dylan Araps */
html,
body,
h1,
ul,
li {
	margin: 0;
	padding: 0;
}

body {
	background: #f2f3f2;
	height: 100vh;
	width: 100vw;
}

main {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-90%);
}

h1 {
	color: #757b8e;
	font-family: Roboto;
	font-size: 3em;
}

ul {
	display: block;
	margin: 0 auto;
}

li {
	display: inline-block;
	font-family: Roboto;
	font-size: 1em;
	line-height: 1.5;
	list-style: none;
	margin: 0 5px;
}

li.subh {
	color: #2d2b33;
	font-weight: bold;
	margin-top: 5px;
}

a {
	color: #8294b4;
	text-decoration: none;
	transition: .2s;

	&:hover {
		color: #a9cdd9;
	}
}
