@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
		/* TAB VARIABLES */
		--bg-light: #252525; --bg-dark: #121212;
		--fg-light: #FFFFFF; --fg-dark: #AAA5AD;
		--tab-triangle-correction: -1px;
		--tab-height: 18px; --tab-icon-size: 10px; --tab-strip-margin: -11px; --tab-overlap: -5px;
		--tab-fonts: "Dejavu Sans"; --tab-font-size: 8pt;
		--tab-triangle: none; /* block | none */

		/* URL VARIABLES */
		--url-background: var(--bg-light); --url-color: var(--fg-light);
		--url-height: 18px; --url-right-margin: 5px;
		--url-fonts: "Lemon",monospace,"Dejavu Sans"; --url-font-size: 7pt;
		--url-text-align: center; /* left | center | right */
		--url-position: absolute; /* absolute == top (under tabs) || fixed == bottom of browser */

		margin-bottom: 0 /* var(--url-height) */ !important;
}

@-moz-document url(chrome://browser/content/browser.xul) {
		/* URL BAR */
		#PanelUI-button,
		#abp-toolbarbutton,
		#back-button,
		#bookmarks-menu-button,
		#downloads-button,
		#forward-button,
		#home-button,
		#identity-box,
		#nav-bar-overflow-button,
		#new-tab-button,
		#notification-popup-box,
		#private-browsing-indicator,
		#search-container,
		#stylish-toolbar-button,
		#urlbar-go-button,
		#urlbar-reload-button,
		#urlbar-stop-button,
		.tab-background-end,
		.tab-background-start,
		.tab-close,
		.tab-close-button,
		.tab-icon-image:not([pinned]),
		.tab-throbber,
		.tabs-newtab-button {
				display: none !important;
		}

		.tab-drop-indicator {
				margin-bottom: 0 !important;
		}

		#nav-bar {
				bottom: 0 !important;
				height: var(--url-height) !important;
				margin: 0 0 0 0 !important;
				max-height: var(--url-height) !important;
				min-height: var(--url-height) !important;
				position: var(--url-position) !important;
				width: 100% !important;
		}

		#nav-bar-customization-target {
				width: 100% !important;
		}

		#urlbar-wrapper {
				border-bottom: 0px solid var(--bg-light) !important;
				left: 0 !important;
				margin-top: -3px !important; /* adjust margin-top to ~ -5px if you experience gap */
				position: absolute !important;
				top: 0 !important;
				width: 100% !important;
		}

		#urlbar {
				background: var(--url-background) !important;
				border-radius: 0 !important;
				border: none !important;
				color: var(--url-color) !important;
				font-family: var(--url-fonts) !important;
				font-size: var(--url-font-size) !important;
				height: var(--url-height) !important;
				margin: 0 0 0 0 !important;
				min-height: var(--url-height) !important;
				padding: 0 2px 0 9px !important;
				text-align: var(--url-text-align) !important;
				width: calc(100% + var(--url-right-margin)) !important;
		}

		/* TABS */
		.tabbrowser-tab[fadein]:not([pinned]) {
				min-width: 50px !important;
				max-width: 100% !important;
		}

		tab {
				background: var(--bg-dark) !important;
				color: var(--fg-dark) !important;
				font-family: var(--tab-fonts) !important;
				font-size: var(--tab-font-size);
				height: var(--tab-height) !important;
				min-height: var(--tab-height) !important;
				text-align: center !important;
				text-shadow: none !important;
		}

		.tabbrowser-tab label {
				padding: 0 14px 0 14px !important;
		}

		#tabbrowser-tabs .tabbrowser-tab[pinned] {
				width: 38px !important;
		}

		#tabbrowser-tabs .tabbrowser-tab[pinned] label {
				display: none !important;
		}

		#tabbrowser-tabs .tabbrowser-tab .tab-icon-image {
				height: var(--tab-icon-size) !important;
				margin: 0 -10px 0 14px !important;
				width: var(--tab-icon-size) !important;
		}

		.tabbrowser-tab *,
		.tabs-newtab-button * {
				-moz-appearance: none !important;
				background: none !important;
				list-style-image: none !important;
				margin: 0 0 0 0 !important;
				padding: 0 0 0 0 !important;
		}

		#tabbrowser-tabs .tabbrowser-tab[pinned] .tab-stack {
				height: var(--tab-height) !important;
				width: 100% !important;
		}

		#tabbrowser-tabs .tabbrowser-arrowscrollbox .box-inherit.scrollbox-innerbox {
				max-height: var(--tab-height) !important;
		}

		.scrollbutton-up,
		.scrollbutton-down {
				border: none !important;
		}

		#tabbrowser-tabs[overflow]:not([positionpinnedtabs]) {
				-moz-padding-start: 20px !important;
		}

		.tabbrowser-tab[selected="true"] .tab-stack {
				background: var(--bg-light) !important;
				border-radius: 0px !important;
				color: var(--fg-light) !important;
				position: relative !important;
		}

		#TabsToolbar,
		#tabbrowser-tabs {
				-moz-appearance: none !important;
				background: var(--bg-dark) !important;
				height: var(--tab-height) !important;
				margin: 0 var(--tab-strip-margin) !important;
				min-height: var(--tab-height)!important;
		}

		#TabsToolbar::after {
				display: none !important;
		}

		.tabbrowser-tab::before, .tabbrowser-tab::after {
				background: none !important;
		}

		#navigator-toolbox::after {
				background: var(--bg-light) !important;
				height: 0px !important;
		}

		#liberator-separator {
				background: var(--bg-light) !important;
				height: 0px !important;
		}

		/* MENUS */
		menuitem + menuseparator,
		menu + menuseparator {
				display: none !important;
		}

		menubar,
		menubutton,
		menulist,
		menu,
		menuitem {
				font-family: var(--tab-fonts) !important;
				font-size: var(--tab-font-size);
				height: var(--tab-height) !important;
		}

		/* HIDE ORANGE MENU BUTTON */
		#appmenu-toolbar-button,
		#appmenu-button-container {
				display: none !important;
		}

		/* HIDE STATUS BAR */
		#status-bar,
		#statusbar-display,
		statuspanel {
				display: none !important;
		}

		/* PRIVATE BROWSING ICON HIDE */
		#main-window[privatebrowsingmode=temporary] #private-browsing-indicator,
		#main-window[privatebrowsingmode=temporary] #private-browsing-indicator-titlebar {
				display: none !important;
		}

		/* Vimperator icon style */
		#liberator-statusline:not([customizing="true"]) {
				margin: -2px -2px !important;
				padding: 0 0 !important;
				height: 24px !important;
		}

		#liberator-statusline:not([customizing="true"]) :-moz-any(toolbarbutton) {
				height: 100% !important;
		}

		#tabview-button {
				-moz-image-region: rect(0, 0, 0, 0) !important;
		}

		#liberator-completions {
				background: var(--bg-dark) !important;
		}

		/* Tabgroup margin top fix */
		#tab-view-deck #tab-view {
				margin-top: 11px !important;
		}

		#tab-view-deck {
				background: var(--bg-light) !important;
		}

		/*----- Fix for white flash on new tab -----*/
		tabbrowser tabpanels,
		#appcontent > #content {
				background: var(--bg-light) !important;
		}

		#status-bar,
		toolbar,
		menubar {
				background: var(--bg-dark) !important;
		}
}

/* AGENT_SHEET */
@-moz-document url-prefix(http://), url-prefix(https://), url-prefix(chrome://liberator/) {
		/* SCROLLBAR */
		scrollbar[orient="vertical"],
		scrollbar thumb[orient="vertical"],
		scrollbar[orient="horizontal"],
		scrollbar thumb[orient="horizontal"] {
				display: none !important;
		}
}


/* background color around/behind pictures opened in firefox (require html namespace on top) */
@-moz-document regexp("(https?://|file:///)(.*)\\.(jpeg|jpg|gif|png|apng|svg|bmp|webm|webp)") {
		body {
				background: var(--bg-light) !important;
		}

		img.decoded {
				background-color: transparent !important;
		}
}

/* About:Blank background */
@-moz-document url(about:blank) {
		html,body {
				background: var(--bg-dark) !important;
		}
}

/* about:stylish-edit toolbar style */
@-moz-document regexp("about:stylish-edit.*") {
		#main-area,
		textbox {
				background: var(--bg-light) !important;
		}

		textbox,
		grid,
		columns,
		rows,
		separator {
				border: 0 !important;
		}

		.devtools-toolbarbutton {
				background: var(--bg-dark) !important;
				color: var(--fg-light) !important;
		}
}
