@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
	--bg-light: #282828;
	--bg-dark: #181818;

	--fg-color: #F7F7F7;

	--toolbarbutton-hover-background: var(--bg-dark) !important;
	--toolbarbutton-checkedhover-backgroundcolor: var(--bg-dark) !important;
	--toolbarbutton-combined-backgroundimage: var(--bg-dark) !important;
	--toolbarbutton-active-background: var(--bg-dark) !important;
	--toolbarbutton-active-bordercolor: var(--bg-dark) !important;

	--chrome-nav-bar-controls-border-color: var(--bg-dark) !important;

	--tab-selection-box-shadow: none !important;
}

@-moz-document url(chrome://browser/content/browser.xul) {
	#identity-box,
	.dropmarker-icon,
	#urlbar-reload-button,
	.tab-close-button,
	.close-icon {
		display: none !important;
	}

	#nav-bar,
	#nav-bar-customization-target,
	#TabsToolbar,
	.arrowscrollbox-scrollbox,
	#PanelUI-menu-button,
	#PanelUI-button,
	#urlbar-container,
	.tabs-newtab-button,
	#TabsToolbar > #new-tab-button,
	#TabsToolbar > #wrapper-new-tab-button > #new-tab-button {
		background: var(--bg-dark) !important;
		border-radius: none !important;
		border: none !important;
		color: var(--fg-color) !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	#nav-bar {
		border: none !important;
		height: 30px !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	#urlbar {
		background: var(--bg-dark) !important;
		border-radius: 0px !important;
		border: none !important;
		color: var(--fg-color) !important;
		margin: 4px 0 !important;
		height: 35px !important;
		min-height: 35px !important;
		text-align: center !important;
	}

	#urlbar-container {
		border: none !important;
		margin-top: -6px !important;
	}

	.findbar-button > .toolbarbutton-text,
	:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
	:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-badge-container,
	:-moz-any(#TabsToolbar, #nav-bar) .toolbarbutton-1 > .toolbarbutton-icon {
		background-color: var(--bg-dark) !important;
		border-radius: 0px !important;
		border: none !immportant;
		color: var(--fg-color) !important;
	}

	.tabbrowser-tab[fadein]:not([pinned]) {
		min-width: 100px !important;
		max-width: 100% !important;
	}

	#TabsToolbar,
	#tabbrowser-tabs {
		-moz-appearance: none !important;
		border: none !important;
		height: 22px !important;
		color: var(--fg-color) !important;
		min-height: 22px !important;
	}

	.tabs-newtab-button {
		margin: 0 0 10px 0 !important;
	}

	#tabbrowser-tabs .tabbrowser-tab .tab-icon-image {
		display: none !important;
	}

	.scrollbutton-up,
	.scrollbutton-down {
		border: none !important;
	}

	.tabbrowser-tab label {
		padding: 0 0 8px 0 !important;
	}

	.tabbrowser-tab {
		background: var(--bg-dark) !important;
		border: none !important;
	}

	.tabbrowser-tab[selected="true"],
	moz-lwtheme,
	.tab-background-middle[visuallyselected="true"],
	#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab > .tab-stack > .tab-background > .tab-background-middle[visuallyselected="true"]:-moz-lwtheme {
		background-color: var(--bg-light) !important;
		border: none !important;
		color: var(--fg-color) !important;
	}

	tab {
		border: none !important;
		text-align: center !important;
		color: var(--fg-color) !important;
	}

	.tabbrowser-tab::before,
	.tabbrowser-tab::after {
		background: none !important;
		border: none !important;
	}

	#nav-bar-overflow-button {
		border: none !important;
		display: none !important;
	}

	tabbrowser tabpanels,
	#appcontent > #content {
		background: var(--bg-light) !important;
		border: none !important;
	}

	.tab-throbber {
		display:none !important;
	}
}