@namespace "http://www.w3.org/1999/xhtml";
@-moz-document domain("reddit.com") {

	body {
		background-color: #1C1C1C !important;
	}

	.RES-keyNav-activeElement {
		background-color: #252525 !important;
	}

	/* Top links */
	#sr-header-area {
		display: none !important;
	}

	#sr-header-area a {
		color: #EBDBB2 !important;
	}

	/* Header */
	#header {
		background-color: #1C1C1C !important;
		border-bottom: none !important;
		margin: 15px 0 !important;
	}

	#header-bottom-left {
		background-color: #1C1C1C !important;
	}

	/* Comment out this block to show subreddit header images */
	#header-img {
		display: none !important;
	}

	.redditname a {
		color: #EBDBB2 !important;
	}

	.choice {
		background-color: #252525 !important;
		color: #EBDBB2 !important;
		padding: 2px 4px !important;
	}

	.redditname {
		display: inline-block !important;
	}

	#header-bottom-left {
		margin-left: 10px !important;
	}

	.tabmenu {
		display: inline-block !important;
	}

	.with-listing-chooser #header .pagename {
		position: static !important;
	}

	.tabmenu li.selected a {
		background-color: #EBDBB2 !important;
		border: none !important;
		color: #1C1C1C !important;
		padding: 2px 4px !important;
	}

	#userbarToggle {
		background-color: #1C1C1C !important;
		border: none !important;
		border-radius: none !important;
		color: #EBDBB2 !important;
	}

	#header-bottom-right,
	#header-bottom-right a {
		background-color: #1C1C1C !important;
		color: #EBDBB2 !important;
	}

	#header-bottom-right {
		padding: 0 7px 0 0 !important;
	}

	/* Posts */t
	.link {
		margin-bottom: 20px !important;
		padding-left: 0px !important;
	}

	.linkflairlabel,
	.flair {
		background-color: #252525 !important;
		border: none !important;
		padding: 3px 2px !important;
		top: 3px !important;
	}

	.arrow {
		opacity: .3 !important;
	}

	.score {
		color: #EBDBB2 !important;
	}

	.rank {
		display: none !important;
	}

	.title {
		color: #EBDBB2 !important;
	}

	.author,
	.subreddit,
	.trending-subreddits-content a,
	.recover-password,
	.helplink {
		color: #458588 !important;
	}

	.subreddit {
		font-weight: bold !important;
	}

	.newComments,
	.nsfw-stamp {
		color: #FB4934 !important;
	}

	.stamp {
		border-radius: 0px !important;
	}

	.flat-list a,
	.tagline {
		color: #928374 !important;
	}

	.thing.stickied a.title,
	.thing.stickied a.title:visited,
	.thing.stickied a.title.visited,
	.stickied-tagline,
	.trending-subreddits strong,
	#search_showmore {
		color: #689D6A !important;
	}

	.trending-subreddits strong::before {
		opacity: .8 !important;
	}

	.trending-subreddits {
		margin-left: -50px !important;
	}

	.expando-button {
		background-color: #1C1C1C !important;
		opacity: .3 !important;
	}

	img {
		opacity: .5 !important;
		transition: .2s !important;
	}

	img:hover {
		opacity: 1 !important;
	}

	.thumbnail.self {

	}

	.thumbnail.default {
		opacity: .3 !important;
	}

	/* Sidebar */
	.side {
		background-color: #1C1C1C !important;
	}

	input,
	button,
	.morelink,
	#searchexpando {
		background: none !important;
		background-color: #262626 !important;
		border: none !important;
		border-radius: 0px !important;
		color: #EBDBB2 !important;
	}

	.morelink a {
		color: #EBDBB2 !important;
		transition: .2s !important;
	}

	.morelink a:hover {
		color: #1C1C1C !important;
	}

	.nub {
		display: none !important;
	}

	select {
		background-color: #1C1C1C !important;
		border: none !important;
		color: #EBDBB2 !important;
		margin-left: 2px !important;
		padding: 3px 0px !important;
	}

	input[type="checkbox"] {
		opacity: .2 !important;
	}

	.login-form-side {
		border: none !important;
	}

	.subscribers {
		display: block !important;
	}

	.fancy-toggle-button .active {
		border: none !important;
		border-radius: 0px !important;
		opacity: .7 !important;
		padding: 2px 2px !important;
	}

	.content {
		border: none !important;
	}

	/* Misc */
	.grippy,
	.with-listing-chooser.listing-chooser-collapsed .listing-chooser,.fancy-toggle-button .active
	.domain,
	.titlebox,
	.create,
	.gadget,
	.footer-parent {
		display: none !important;
	}

	/* Reddit Enhancement Suite */
	#RESShortcuts,
	#RESShortcutsEditContainer,
	#viewImagesButton,
	.REStoggle,
	.RESDashboardToggle,
	.RESshortcut,
	.RESshortcutside,
	.RESUserTag,
	.NERPageMarker {
		display: none !important;
	}

	.neverEndingReddit {
		opacity: 0 !important;
	}
}
