@import "file:///home/dyl/dotfiles/scripts/colors/output/colors.css";

/*  Dylan's Firefox css */

@namespace html url(http://www.w3.org/1999/xhtml);
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* VARIABLES {{{ */

:root {
	/* Tabs */
    --tab-height: 30px;
    --tab-fonts: lemon;
    --tab-font-size: 9px;

	/* Url Bar */
    --url-height: 30px;
    --url-fonts: lemon;
    --url-font-size: 9px;
    --url-text-align: left;

    /* Don't touch this */
    --backbutton-urlbar-overlap: 10px;
}

/* }}} */

@-moz-document url(chrome://browser/content/browser.xul) {

/* HIDDEN STUFF {{{  */

    .tab-background-start,
    .tab-background-end,
    .tabbrowser-tab:after,
    .tabbrowser-tab:before,
    #back-button,
    #forward-button,
    #identity-box,
    .autocomplete-history-dropmarker,
    .tab-icon,
    .scrollbutton-up,
    .scrollbutton-down,
    .tab-icon-image,
    .tab-throbber,
    .tab-close-button,
    .tabs-closebutton-box,
    .tabs-newtab-button,
    #urlbar-reload-button,
    #urlbar-go-button,
    #urlbar-stop-button {
		display: none !important;
	}

/* }}} */

/* TABS {{{ */

	/* Unselected Tabs */
	#TabsToolbar .tabbrowser-tab {
		background: var(--black);
		border: none;
		color: var(--gray);
		font-family: var(--tab-fonts);
		font-size: var(--tab-font-size);
		height: var(--tab-height);
		margin: -4px 50px 0 0;
		min-height: var(--tab-height);
		text-align: center;
	}

	/* Selected Tab */
	#TabsToolbar .tabbrowser-tab[selected] {
		color: var(--white);
	}

	/* Background behind Tabs */
	#TabsToolbar {
        margin: 0;
        padding-top: 4px;
	}

	/* Makes tabs use all the space available */
	.tabbrowser-tab[fadein]:not([pinned]) {
        max-width: 100%;
        min-width: 100px;
	}

	/* Disable Australis Styles */
	#TabsToolbar .tab-background,
	#TabsToolbar .tab-background-middle {
		background: transparent;
	}

/* }}} */

/* NAVBAR/URLBAR {{{ */

	#nav-bar {
		background: var(--black);
		border: none;
		box-shadow: none;
		height: var(--url-height);
	}

	#urlbar {
		background: var(--black);
		color: var(--gray);
		font-family: var(--url-fonts);
		font-size: var(--url-font-size);
		margin: 0;
		padding: 10px 5px 10px 25px;
		text-align: var(--url-text-align);
	}

    /* Addon Bar background color */
    #ctraddon_addon-bar {
    background: var(--black);
    }

	/* Hides border on navbar */
    #TabsToolbar:not([collapsed="true"]) + #nav-bar,
    #browser-bottombox,
    #ctraddon_addon-bar,
    #urlbar {
		border: none !important;
	}

	/* Hides Seperator */
	#navigator-toolbox:after {
		height: 0px;
	}

	/* Changes menu button image */
	#PanelUI-menu-button {
		background: transparent;
		border: transparent;
		list-style-image: url('data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%10%00%00%00%10%08%06%00%00%00%1F%F3%FFa%00%00%00%04sBIT%08%08%08%08%7C%08d%88%00%00%00%09pHYs%00%00%0D%D7%00%00%0D%D7%01B%28%9Bx%00%00%00%19tEXtSoftware%00www.inkscape.org%9B%EE%3C%1A%00%00%009IDAT8%8Dc%60%A0%1002000TT%B4%0B%92%A3%B9%A3%A3%F2%3DciES%0A%03%23%E3l%B2%AC%FF%FF%3F%95%89%2C%8D%83%0A%8C%06"%15%C0h%20R%01%00%00%E2%86%1A%86%C2%C8%D8%A4%00%00%00%00IEND%AEB%60%82');
		margin-bottom: 4px;
		padding: 0px 5px 0px 0px;
		-moz-image-region: rect(0,16px,16px,0);
	}

	#PanelUI-button {
		border-inline-start: none;
	}

/* }}} */

}
