gtk_color_scheme = "color_black:#434e4a"
gtk_color_scheme = "color_red:#99736e"
gtk_color_scheme = "color_green:#78a090"
gtk_color_scheme = "color_yellow:#bfb7a1"
gtk_color_scheme = "color_blue:#7c9fa6"
gtk_color_scheme = "color_orange:#ccad99"
gtk_color_scheme = "color_cyan:#8fb3ad"
gtk_color_scheme = "color_white:#f0e4d8"
gtk_color_scheme = "color_gray:#70838c"
