/* Color variables */
:root {
    --black: #34393D;
    --red: #BF687F;
    --green: #9BB38F;
    --yellow: #e5c196;
    --blue: #8294b4;
    --orange: #E68A8B;
    --cyan: #95B9BF;
    --white: #f2f3f2;
    --gray: #75747a;
}
