/* Color variables */
:root {
    --black: #232c33;
    --red: #99736e;
    --green: #78a090;
    --yellow: #bfb7a1;
    --blue: #7c9fa6;
    --orange: #BF9C86;
    --cyan: #99BFBA;
    --white: #f0f0f0;
    --gray: #70838c;
}
