! Dylans Xresources

! Desktop/Laptop Settings.
#ifdef SRVR_bonez
    URxvt*font: xft:Roboto Mono:size=12
    URxvt*boldFont:

    Xft.dpi: 192
#else
    URxvt*font: -benis-lemon-medium-r-normal--10-110-75-75-m-50-ISO10646-1
    URxvt*boldFont: -benis-lemon-medium-r-normal--10-110-75-75-m-50-ISO10646-1

    Xft.dpi: 96
#endif

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt.scrollBar: false
URxvt.internalBorder: 15

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
