<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

	<menu id="root-menu" label="Openbox 3">

		<menu id="Games" label="Games">
            <item label="Dolphin Emulator">
                <action name="Execute"><execute>dolphin-emu</execute></action>
			</item>

			<separator />

			<item label="Minecraft">
				<action name="Execute"><execute>minecraft</execute></action>
			</item>

			<separator />

			<item label="MultiMC5">
				<action name="Execute"><execute>multimc5</execute></action>
			</item>

			<separator />

			<item label="Nestopia">
				<action name="Execute"><execute>nestopia -e</execute></action>
			</item>

			<separator />

			<item label="OpenSpades">
				<action name="Execute"><execute>openspades </execute></action>
			</item>

			<separator />

			<item label="Steam">
				<action name="Execute"><execute>/usr/bin/steam </execute></action>
			</item>
		</menu> <!-- Games -->

		<separator />

		<menu id="Graphics" label="Graphics">
			<item label="FontForge">
				<action name="Execute"><execute>fontforge </execute></action>
			</item>

			<separator />

			<item label="GNU Image Manipulation Program">
				<action name="Execute"><execute>gimp-2.8 </execute></action>
			</item>

			<separator />

			<item label="Inkscape">
				<action name="Execute"><execute>inkscape </execute></action>
			</item>

			<separator />

			<item label="Pinta">
				<action name="Execute"><execute>pinta </execute></action>
			</item>

			<separator />

			<item label="gbdfed">
				<action name="Execute"><execute>gbdfed </execute></action>
			</item>
		</menu> <!-- Graphics -->

		<separator />

		<menu id="Internet" label="Internet">
			<item label="Firefox">
				<action name="Execute"><execute>firefox </execute></action>
			</item>

			<separator />

			<item label="TeamSpeak 3">
				<action name="Execute"><execute>teamspeak3</execute></action>
			</item>

			<separator />

			<item label="Transmission">
				<action name="Execute"><execute>transmission-gtk </execute></action>
			</item>

			<separator />

			<item label="qutebrowser">
				<action name="Execute"><execute>qutebrowser </execute></action>
			</item>
		</menu> <!-- Internet -->

		<separator />

		<menu id="Sound &amp; Video" label="Sound &amp; Video">
			<item label="MKVToolNix GUI">
				<action name="Execute"><execute>mkvtoolnix-gui </execute></action>
			</item>

			<separator />

			<item label="PulseAudio Volume Control">
				<action name="Execute"><execute>pavucontrol</execute></action>
			</item>

			<separator />

			<item label="SimpleScreenRecorder">
				<action name="Execute"><execute>simplescreenrecorder --logfile</execute></action>
			</item>

			<separator />

			<item label="mpv Media Player">
				<action name="Execute"><execute>mpv --profile=pseudo-gui -- </execute></action>
			</item>
		</menu> <!-- Sound & Video -->

		<separator />

		<menu id="System Tools" label="System Tools">
			<item label="Bulk Rename">
				<action name="Execute"><execute>/usr/lib/Thunar/ThunarBulkRename </execute></action>
			</item>

			<separator />

			<item label="GParted">
				<action name="Execute"><execute>/usr/bin/gparted_polkit </execute></action>
			</item>

			<separator />

			<item label="Htop">
				<action name="Execute"><execute>urxvtc -e htop</execute></action>
			</item>

			<separator />

			<item label="Thunar File Manager">
				<action name="Execute"><execute>thunar </execute></action>
			</item>

			<separator />

			<item label="Xfce Terminal">
				<action name="Execute"><execute>xfce4-terminal</execute></action>
			</item>

			<separator />

			<item label="urxvt">
				<action name="Execute"><execute>urxvtc</execute></action>
			</item>
		</menu> <!-- System Tools -->

		<separator />

		<menu id="system-menu" label="System">
			<item label="scrot">
                <action name="Execute"><execute>scrot</execute></action>
			</item>

            <separator />

			<item label="Reconfigure Openbox">
				<action name="Reconfigure" />
			</item>
		</menu>
	</menu>

</openbox_menu>

